@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

/*
 * Mixins
 *
 */

// Make link inside div make the entire div linkable
@mixin linkable_block() {
 a {
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: white;
    opacity: 0;
    filter: alpha(opacity=1);
  }
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  transition: $transition;
}

/*
 * Home Page
 *
 */

// Change pointers black

$image-path: "../bower_components/slick.js/slick/";

// Hack foundation's image-url function

@function image-url($url) {
  @return url($image-path + $url);
}

$slick-arrow-color: black;
$slick-font-path: "../bower_components/slick.js/slick/fonts/";
@import "../bower_components/slick.js/slick/slick-theme";

// Revert image url back
@function image-url($url) {
  @return unquote("url(../img/#{$url})");
}

// Center images in slider

.home_slider {
  img {
    margin: auto;
  }
  h5 {
    text-align: center;
  }
}


// For large layouts added styling

.child_block_link {
  padding-top: rem-calc(16);
}

.child_block_link_button {
  display: inline-block !important;
}


// Make bottom home blocks linkable

div.home_quad_blocks {
  @include linkable_block();

  &:hover .panel {
      background: $rtmd_green;
      @include transition(background 0.3s ease);

      p {
        color: $white;
        @include transition(color 0.3s ease);
      }
  }
}

// Recent post fixes

div.recent_thumb {
  padding-right: rem-calc(10);
}


/*
 * Content Page
 *
 */

.header_logo {
  margin: rem-calc(17) 0;
}

.social_icons {
  margin: rem-calc(55);
}

.blog_content {
  img {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

.blogroll_image {
  img {
    margin-bottom: rem-calc(17);
  }
}

.sidebar-widget {

  ul {
    list-style-type: none;
  }

  li {
    a {
      text-decoration: none;
      color: #000;
      display: block;
      @include transition(color 0.3s ease-in-out, font-size 0.3s ease-in-out, background-color 0.3s ease-in-out);
    }

    a:hover {
      color: $rtmd_green;
      font-size: 20px;
      background-color: $ghost;

    }
  }
}



/*
 * Project Page
 *
 */

.projectNav {
	margin: 0 0 30px 0;
	padding-top: 0;

  a {
    display: block !important;
    width: 35px;
    height: 19px;
    text-indent: -9999px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  div {
    float: left;
    margin-right: 10px;
    width: 35px;
    height: 19px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  .next a {
    background: #6c6c6c url(images/project_nav_arrows.png) no-repeat;
    background-position: -36px 0;
  }

  .next.inactive {
    background: #c2c2c2 url(images/project_nav_arrows.png) no-repeat;
    background-position: -36px 0;
  }

  .previous a {
    background: #6c6c6c url(images/project_nav_arrows.png) no-repeat;
    background-position: 0 0;
  }

  .previous.inactive {
    background: #c2c2c2 url(images/project_nav_arrows.png) no-repeat;
    background-position: 0 0;
  }

  a:hover {
    background-color: #ffd800;
  }

  .portfolioHome {
    background: #6c6c6c url(images/grid_icon.png) no-repeat;
    width: 19px;
    height: 19px;
    display: block;
    text-indent: -9999px;
    float: left;
    margin-right: 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}



/*
 * Portfolio Page
 *
 */


.thumbs {
	-webkit-transition-duration:0.8s;
}

/**** Isotope filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope-item { -webkit-transition-duration:0.8s; }



.portfolio #sidebar {
	float: left;
}

.portfolio #content {
	float: right;
	padding: 30px 0 0 0;
}

.portfolio #content #projects{
	width: 750px;
	margin-right: -30px;
}

.thumbs {
	-webkit-transition-duration:0.8s;
}

/*Projects------------------*/

#projects {
	list-style: none;
}

#content #projects li{
	padding: 0;
	background: none;
}

#content .project.small{
	width: 220px;
	display: block;
	margin: 0 30px 30px 0;
	opacity: 0;
}

#content .project.small a{
	position: relative;
	overflow: hidden;
	display: block;
	line-height: 1px;
}

#content .project.small a img{
	margin: 0 !important;
}

#content .project.small a .title {
	display: block;
	display: none;
	background: transparent url(images/black_alpha_50.png);
	color: #FFF;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 0;
	font-size: 0.917em;
	width: 100%;
	font-size: 11px;
	line-height: 1.1em;
}

#content .project.small a .title span{
	padding: 12px 17px 12px 17px;
	display: block;
}

#content .project.small.lightbox a .title span{
	background: transparent url(images/lightbox_icon.png) right top no-repeat;
	padding-right: 40px;
	display: block;
	text-align: left;
}

.tax-portfolio .project.small {
	display: none;
}


.single-projects #slideshow {
	margin-left: 0px;
	margin-bottom: 60px;
}

#content .portfolioList{
	padding: 0!important;
	margin: 0 0 20px 0 !important;
}

#filterNav {

  list-style-type: none;

  li {
    a {
      text-decoration: none;
      color: #000;
      display: block;
    }

    a:hover {
      color: $rtmd_green;
      font-size: 30px;
      background-color: $ghost;

      @include transition(color 0.3s ease, font-size 0.3s ease, background-color 0.3s ease);
    }
  }

  .selected {
    color: $rtmd_green;
    background-color: $ghost;
  }
}

.single-projects #content {
	width: 960px;
}
